@page "/"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PostAsync("api/Account/user", null);
        if (!response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("authentication/logout");
        }
    }
}
