@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" class="rz-py-4 rz-px-6">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="ARAS" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <ARAS.Blazor.Layout.NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <div class="rz-py-4 rz-px-6">
            ARAS &copy; @DateTime.Now.Year
        </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}
